# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.fas
*.fasl
*.lx64fsl
*.lib
*.orig
*.patch
*.diff
*~

# Ignore CLX
clx/

asdf.lisp
clfswm

# Personal scripts:
1disp-load.lisp
git-commit.sh
